$margin: 0 auto;
$blue: #101396;
$blue_dark:#252770;
$green: #15D42E;
$yellow: #FBFF38;

button, input, optgroup, select, textarea {
  font-family: unset;
}

%flex_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex_column {
  @extend %flex_line;
  flex-direction: column;
}

@mixin flex_line () {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex_column () {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../assets/fonts/OpenSans-Reg.ttf');
  font-weight: normal;
  font-style: normal;
}

body,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;  
}

.wrapper {
  margin: $margin;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color:white;
  margin: 0 auto;
  color: black;
}

.wrapper {
  margin: 0 auto;
  background-color:white;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
}
