main {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    .popular_goods {
      .title {
        font-size: 35px;
        font-weight: 700;
        margin: 30px;
      }   
    }
  }
  .carousel {
    @extend %flex_line;
    width: 100%;
  }
  .card {
    width: 23%;
    font-family: OpenSans;
    font-style: normal;
    font-weight: bold;
    @extend %flex_column;
    border: unset;
    a {
      width: 100%;
      margin-top: -60px;
      padding-top: 60px;
      border:1px solid white
    }
    .icons{
      @extend %flex_line;
      margin: 4px;
      width: 100%;
      justify-content: space-evenly;
      .btn {
        border: 1px solid white;
        z-index: 101;    
      }
    }
    .image img {
      width: 100%;
    }
    .rating {
      @extend %flex_line;
      justify-content: center;
      img {
        width: 100px;
      }
    } 
    .cost_ownership, .prices {
      color: $green;
      margin: 5px;
    }
    .text {
      margin: 5px auto;
    } 
  }
}